<header class="clearfix">
   

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar">a</span>
        <span class="icon-bar">b</span>
        <span class="icon-bar">c</span>
    </div>

    <div class="top-nav" ng-controller="loginCtrl">
        <ul class="nav-left list-unstyled">
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-comment-o"></i>
                    <span class="badge badge-success">{{my_emit_data.length}}</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default">
                    <div class="panel-heading">
                        You have {{my_emit_data.length}} open EMIT items.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="myemit in my_emit_data">
                            <a href="#/details/{{myemit.id}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-info"><i class="fa fa-comment-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">{{myemit.email_subject}}</span>
                                    <span class="text-muted">Received on {{myemit.date_received}}</span>
                                </div>
                            </a>
                        </li>                  
                    </ul>
                    <div class="panel-footer">
                        <a href="#/list/all/owned_by_userno/{{userno}}">Show all messages.</a>
                    </div>
                </div>
            </li>
		</ul>
	</div>
</header>
