<div class="page page-lock">

    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!-- <div ui-time class="lock-time"></div> -->
            <section class="lock-box">
                <div class="lock-user">Unauthenticated</div>
                <div class="lock-pwd">
                    <a href="/" class="btn btn-lg btn-goback">
		                <span class="glyphicon glyphicon-user"></span>
		                <span class="space"></span>
		                Login
		            </a>
                </div>            
            </section>
        </div>
    </div>
</div>