<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard"></span> </a></li>
		<li>
            <a href="#/ui"><i class="fa fa-list"><span class="icon-bg bg-orange"></span></i>EMIT List</a>
            <ul>
                <li><a href="#/list/all/bu/all/group/new"><i class="fa fa-caret-right"><span class="icon-bg bg-success"></span></i>New Emails</a></li>
                <li><a href="#/list/all/bu/all/group/sales"><i class="fa fa-caret-right"><span class="icon-bg bg-info"></span></i>Sales</a></li>
                <li><a href="#/list/all/bu/all/group/orders"><i class="fa fa-caret-right"><span class="icon-bg bg-warning"></span></i>Orders</a></li>
                <li><a href="#/list/all/bu/all/group/operations"><i class="fa fa-caret-right"><span class="icon-bg bg-danger"></span></i>Operations</a></li>
                <li><a href="#/list/all/bu/hp/group/all"><i class="fa fa-caret-right"><span class="icon-bg bg-info"></span></i>HP</a></li>
				<li><a href="#/list/all/bu/ibm/group/all"><i class="fa fa-caret-right"><span class="icon-bg bg-danger"></span></i>IBM</a></li>
				<li><a href="#/list/all/bu/tis/group/all"><i class="fa fa-caret-right"><span class="icon-bg bg-success"></span></i>TIS</a></li>
				<li><a href="#/list/all/bu/nsso/group/all"><i class="fa fa-caret-right"><span class="icon-bg bg-warning"></span></i>NSSO</a></li>
				<li><a href="#/list/all/bu/tp/group/all"><i class="fa fa-caret-right"><span class="icon-bg bg-primary"></span></i>TP</a></li>
            </ul>
        </li>
		<li>
            <a href="#/ui"><i class="fa fa-magic"><span class="icon-bg bg-orange"></span></i><span data-i18n="UI Kit"></span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-i18n="Buttons"></span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-i18n="Typography"></span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span data-i18n="Widgets"></span> <span class="badge badge-success">12</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span data-i18n="Grids"></span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-i18n="Icons"></span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span data-i18n="Components"></span> <span class="badge badge-info">14</span></a></li>
                <li><a href="#/ui/timeline"><i class="fa fa-caret-right"></i><span data-i18n="Timeline"></span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="fa fa-caret-right"></i><span data-i18n="Pricing Tables"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/report"><i class="fa fa-magic"><span class="icon-bg bg-orange"></span></i>Report</a>
        </li>
        <li>
            <a href="#/search"><i class="fa fa-table"><span class="icon-bg bg-warning"></span></i>Search</a>
        </li>
        <li>
            <a href="#/roster"><i class="fa fa-pencil"><span class="icon-bg bg-success"></span></i>Roster</a>
        </li>
        <li>
            <a href="#/filterbyvendor"><i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i>Filter by vendor</a>
        </li>
		<li>
            <a href="#/favourite"><i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i>My favourite</a>
        </li>
		<li>
            <a href="http://intranet.ait.au/"><i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i>Intranet</a>
        </li>
    </ul>
</div>