<div class="page page-table" ng-controller="DeleteController">

    <div class="row">
		<form role="form">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Please select a reason for deletion:</strong></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="delete_details">Please select a reason for deletion</label><br />
                        <select name="delete_details" id="delete_details">
                            <option value="Email is duplicated.">Email is duplicated.</option>
                            <option value="Email is superseded by another.">Email is superseded by another.</option>
                            <option value="EMIT was CCed only and no clear action was apparent.">EMIT was CCed only and no clear action was apparent.</option>
                            <option value="Enquiry already actioned.">Enquiry already actioned.</option>
                            <option value="No action required.">No action required.</option>
                            <option value="Email or attachment could not be opened.">Email or attachment could not be opened.</option>
                            <option value="Email is SPAM / Junk mail.">Email is SPAM / Junk mail.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="notify_internal_person">Does you wish to notify an internal person that this enquiry is complete?</label><br />
                        <select name="notify_internal_person" id="notify_internal_person" ng-model="options.notify_internal_person">
                            <option ng-repeat="(key, value) in employees" value="{{value.userno}}" ng-selected="options.notify_internal_person == value.userno">{{key}}</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> BCC myself on the email
                        </label>
                    </div>
                          
                </div>
            </section>


			 <button type="submit" class="btn btn-primary">Delete</button>
        </div>
		
		</form>
	</div>
	<script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3>{{message}}</h3>
        </div>
    </script>
</div>