<div class="page page-table" ng-controller="QuoteController">

    <div class="row">
        <form role="form">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Start a quote</strong></div>
                    <div class="panel-body">


                    </div>
                </section>


                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3>{{message}}</h3>
        </div>
    </script>
</div>