<div class="page page-table" ng-controller="CompleteController">

    <div class="row">
		<form role="form">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><h3><span class="glyphicon glyphicon-ok"></span> Complete</h3></div>
                <div class="panel-body">
					<strong>Related Links</strong>
					<div class="form-group">
					<div class="row">
                    	<div class="col-sm-5"><label class="ui-radio"><input name="type" type="radio" value="option1" ><span>Quotation</span></label>
                   		<label class="ui-radio"><input name="type" type="radio" value="" checked><span>Sales Order (SOA) </span></label></div>
						<div class="col-sm-4"><input type="text" class="form-control" id="reference" name="reference" placeholder="Quote No/SOA"></div>
					</div>
					<strong>{{links.length > 0 ? "Existing links" : ""}}</strong>
					<ul data-ng-repeat="link in links">
						<li>{{link.reference}} - {{link.type}}</li>
					</ul>
					</div>
					
					<div class="form-group">
					<strong>Customer PO number</strong>
                    <div class="row">
                        <div class="col-sm-4"><input type="text" class="form-control" id="reference_po_customer" name="reference_po_customer" placeholder="Customer PO"></div>
                    </div>
	                </div>
	                
	                <div class="form-group">
	                    <label for="">Are there any notes you would like to add about this enquiry</label><br /><small>(Any information entered here is not displayed to customer)</small>
	                    <textarea name="closure_details" id="closure_details" class="form-control" rows="4"></textarea>
	                   
	                </div> 
	                
	                <div class="checkbox">
		                <strong>Send notification to customer by email</strong>
                        <label>
                            <input type="checkbox" name="email_customer" id="email_customer"> Notify customer by email that their enquiry has been completed? The email will be sent to {{data.email_from}}. 
							Your notes will not be sent to the customer but if the details are available, the quotation number or SOA will be included in the email.
                        </label>
                    </div>
	                   
                    <div class="form-group">
                       <label for="notify_internal_person">Does you wish to notify an internal person that this enquiry is complete?</label><br />
                       <select name="notify_internal_person" id="notify_internal_person" ng-model="options.notify_internal_person">
							<option ng-repeat="(key, value) in employees" value="{{value.userno}}" ng-selected="options.notify_internal_person == value.userno">{{key}}</option>
		               </select>
                    </div>
                </div>
            </section>
			 <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        </div>
		
		</form>
	</div>
	<script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3>{{message}}</h3>
        </div>
		 <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>